<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">
    <title>View</title>

<body>
    <div layout:fragment="content">
        <div style="width: 80%; margin: auto; margin-top: 20px;">
            <div class="card" style="width: 18rem;">
                <img th:src="@{/photos/{image}(image = ${article.getImage()})}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${article.getTitle()}" class="card-title"></h5>
                    <p th:text="${article.getDescription()}" class="card-text"></p>
                    <a href="/home" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>