<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <div layout:fragment="content">
        <div style="width: 80%; margin: auto; margin-top: 20px;">

            <form th:action="@{/article/edit/{image}(image = ${article.getId()})}" method="post" enctype="multipart/form-data" >

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title"
                           id="exampleFormControlInput1" th:value="${ article.getTitle()}"
                    />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descriptions</label>
                    <textarea class="form-control" name="description"
                              id="exampleFormControlTextarea1" rows="3"
                              th:text="${ article.getDescription()}"
                    ></textarea>
                </div>
                <div>
                    <label>Photos: </label> <br/>
                    <img style="height: 200px" id="output"
                         th:src="@{/photos/{image}(image = ${article.getImage()})}"/>
                    <br/>
                    <input type="file" name="image" accept="image/png, image/jpeg"
                            id="imageFile" th:onchange="'javascript:loadFile();'"
                    />

                </div>
                <input type="submit" class="btn btn-primary" th:value="Save" />
            </form>

        </div>
    </div>


</body>

</html>