<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">

<body>
    <div layout:fragment="content">
        <div style="width: 80%; margin: auto; margin-top: 20px;">

            <a th:href="@{/create}"><button type="button" class="btn btn-primary">Add New Article</button></a>
            <a th:href="@{?lang=en}">English</a>
            <a th:href="@{?lang=kh}">Khmer</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th th:text="#{title}" scope="col"></th>
                    <th th:text="#{description}" scope="col"></th>
                    <th th:text="#{image}" scope="col"></th>
                    <th th:text="#{actions}" scope="col"></th>
                </tr>
                </thead>
                <tbody th:each="article : ${articles}">
                <tr>
                    <th scope="row" th:text="${article.getId()}"></th>
                    <td th:text="${article.getTitle()}"></td>
                    <td th:text="${article.getDescription()}"></td>
                    <td>
                        <img style="height: 50px"
                                th:src="@{/photos/{image}(image = ${article.getImage()})}"/>
                    </td>
                    <td>
                        <a th:href="@{/view/{id}(id = ${article.getId()})}"><button type="button" class="btn btn-primary">View</button></a>
                        <a th:href="@{/edit/{id}(id = ${article.getId()})}"><button type="button" class="btn btn-warning">Edit</button></a>
                        <a th:href="@{/delete/{id}(id = ${article.getId()})}"><button type="button" class="btn btn-danger">Delete</button></a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>